---
layout: sezionelocale
title: Este

extras:
  - label: Web
    value: <a href="https://este.linux.it" rel="nofollow">Clicca Qui</a>

  - label: Referente
    value: loviuz@linux.it

  - label: Telegram
    value: openit_este

  - label: Mastodon
    value: openiteste@mastodon.uno

  - label: Dove
    value: il sabato dalle 14:30 alle 18:30 al Patronato Ss. Redentore di Este, PD (Veneto). Si comunica sul canale Telegram ogni appuntamento
---

<p>
  Discutiamo nel nostro gruppo Telegram su come la tecnologia ci sta cambiando e come possiamo usarla in modo trasparente e consapevole. In particolare usiamo e promuoviamo software libero come GNU/Linux, app libere e usiamo servizi rispettosi della privacy. Oltre a essere semplici utilizzatori di strumenti digitali aperti, partecipiamo attivamente anche per migliorarli poiché è possibile, rispetto a tecnologie chiuse le quali si subiscono solamente.
</p>
