---
layout: page
title: Archivio News
---

<div class="row">
    <div class="col-12">
        <h1 class="mb-3">{{ page.title }}</h1>
    </div>

    <div class="col-md-9 mb-5">
        {% for post in paginator.posts %}
            {% include postcell.html post=post %}
        {% endfor %}

        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="/news">1</a>
            </li>

            {% for page in (2..paginator.total_pages) %}
                <li class="page-item {% if page == paginator.page %} active {% endif %}">
                    <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                </li>
             {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        {% include sidebar.html %}
    </div>
</div>
