---
layout: page
title: {{ page.title }}
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS {{ page.title }}</h1>
        {{ page.content }}
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                {% for extra in page.extras %}
                    <p>
                        <strong>{{ extra.label }}</strong>: {{ extra.value }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
